<!DOCTYPE html>
<html>
<head>
	<title>log</title>
</head>
<body>
	<h2 align="center">LOGIN</h2>
	<form method="post">
		<table  align="center"> 
			<tr>
				<td>USER NAME</td>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>PASSWORD</td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr><td></td>
				<td><input type="submit" name="btn" value="login"></td>
			</tr>

		</table>
	</form>

</body>
</html>